*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura;
}
body,html{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(174, 239, 174);
}
#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
}
#Ptop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgb(116, 170, 116);
}
#elem{

}